* {
  margin: 0;
}

html,
body,
#root,
.App {
  height: 100vh;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(102, 131, 249);
}

.App {
  display: flex;
  flex-direction: column;
}

.wrapper {
  width: 650px;
  margin: 0 auto;
  padding: 2rem 0;
  flex-grow: 1;
}

h1 {
  text-align: center;
  color: #fff;
}

h5 {
  margin: 20px;
}

button {
  cursor: pointer;
}
